.odd {
  background-color: #FFFFFF;
}
.even {
  background-color: #f3f3f3;
}
.ant-layout-has-sider {
  min-height: inherit;
}
.ant-table-thead tr th {
  background-color: #aaaaaa !important;
}
.ant-table-thead tr th .ant-table-column-title {
  color: #fff;
}
.AdminSider .ant-menu i {
  font-size: 15px;
}
.AdminSider .ant-menu span {
  font-size: 15px;
}
.ant-layout-content .ant-pagination {
  float: right;
  margin-top: 20px;
}
.ant-layout-content .ant-alert {
  width: 280px;
  border: 1px solid #7897cc;
  border-radius: 5px;
  margin-bottom: 10px;
}
.ant-table-body {
  min-width: 1050px;
}
.ant-table-body .ant-table-thead th {
  min-width: 88px;
}
