.searchForms{
	width:1220px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.searchForms .ant-row{
	flex:none;
}
.inputForm{
	width:1100px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.inputForm .ant-col{
	flex:none;
}
.buttonForm{
	width:160px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.top{
	display: flex;
	flex-direction: row;
	margin-bottom: 10px;
	/* justify-content: space-between; */
}
.back{
	background-color:#7897cc !important;
	color:#fff !important;
	margin-left: 20px;
}
.detailForm{
	display: flex;
	justify-content:space-around;
}
.longer{
	border: 1px solid #ccc;
	border-radius:2px;
	box-sizing: border-box;
	padding:0px 10px;	
}
.content{
	display: flex;
	justify-content:center;
}
